{% extends "basic_app/base.html"%}

{% block body_block %}
<div class="jumbotron">
    <h1> Please Login </h1>
    <form action="{% url 'user_login'%}" method="POST">
        {% csrf_token %}
        <label for="username" >UserNAme :</label>
        <input type="text" name="username" placeholder="Emter usrename">

        <label for="password" >Password :</label>
        <input type="text" name="password" placeholder="Emter password">
        <input type="submit" name="" value="Login">
    </form>

</div>

{% endblock %}
